html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* my styles */
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
*{
    box-sizing: border-box;
    max-width:100%;
    /* border:1px solid grey; */
}
html{
    
  /* 1rem = 10px */
  font-size: 62.5%;

}
h1{

    font-family: 'Chelsea Market', cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    
}
body{
    font-family:'Roboto Mono' monospace;
    font-size:1.6rem;/*16px*/
    font-style:normal;
    color:#4f4f4f;
    
}
.header-section{
    margin-left: 2%;
    
}
.header, .header-text{
    display:inline-block;
}
.header-text{
    margin:0 auto;
    padding-left:2%;
    margin-bottom:10%;
    padding-bottom:2%;
}
.header-text h1{
    font-size:6rem;
}
.header-text p{
    /* font-weight: 300; */
    font-style: normal;
    font-size: 3rem;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
}
.header-img{
    height:20rem;
    border-radius:50%;
    padding: 2% ;
    margin:o 2%;

}
nav{
    padding:2% 0;
    /* display:inline-block; */
    margin-left:5%;
}
nav a{
    padding:0.5% 0;
    width:10%;
    border-radius: 10%;
    color:#fff;
    text-align: center;
    display:inline-block;
    margin-right:15%;
    font-size:2rem;
    
  
}
.plan-button {
    background-color:#FF764E;
    border-style:none;
    height:6rem;
    border-radius:.8rem;
    /* padding:1% 0; */
    margin-right:0 20%;
}
.learn-button {
    background-color:#5ED3EB;
    border-style:none;
    height:6rem;
    /* width:10rem; */
    border-radius:.8rem;
    margin-right:0 20%;
}
.get-button {
    background-color:#FFCD69;
    border-style:none;
    height:6rem;
    /* width:10rem; */
    border-radius:.8rem;
    /* margin-right:0 20%; */
    
}
.box-content p,.box-content2 p{
    background-color:#DDB9A3;
    font-size: 3rem;
    color:white;
    font-family:'Roboto Mono' monospace;
    font-size:3rem;/*16px*/
    font-style:normal;
    text-align:center;
    padding:1%;
}
.box-content-section{
    margin-left:2%;
}
 #current-fire , #park-fee{/*span */
    font-style: bold;
}
.fire-truck-section, .fire-truck-section p{
    width:50%;
    margin: 0 auto;
}

.fire-div{
    margin:2% 0;
    width:100%;
}
.fire_img{   
     width:15rem; 
     margin:0 30%;
}
.truck_img{
    height:15rem;
    margin:0 30%;
    padding-top:2%;

}
.fire-text p{
    width:50%;
    font-size:2rem;
}
.truck-text p{
    width:50%;
    font-size:2rem;
}
#park-fee{
    font-style:bold;
}
footer{
    background-color: #F9E7DC;
}
.footer-img{
    background-image:url("assets/footer_img.jpg");
    background-repeat:no-repeat;
    background-color: #F9E7DC;
    height:40vh;
    background-size:cover;
}
